@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="get" action="/Search/Results" style="align-content:center;align-items:center;text-align:center;">

    <input type="text" name="Search"/><br />

    <input type="checkbox" name="OpenAir"> Open Air<br />
    <input type="checkbox" name="KidsArea"> Kids Area<br />
    <input type="checkbox" name="Seats"> Seats<br />
    <input type="checkbox" name="Food"> Food<br />
    <input type="checkbox" name="Drinks"> Drinks<br />
    <input type="checkbox" name="Desserts"> Desserts<br />
    <input type="checkbox" name="Delivery"> Delivery<br />
    <input type="checkbox" name="Buffet"> Buffet<br />
    <input type="checkbox" name="Vegan"> Vegan<br />
    <input type="checkbox" name="Healthy"> Healthy<br />
    <input type="checkbox" name="NearMe"> Near Me<br />

    <input type="submit" />
</form>