@{
    ViewData["Title"] = "Home Page";
}
<style>
    #reservation .phone,
    #reservation .message {
        background-color: #fff;
        border-radius: 5px;
        text-align: center;
        padding: 0px 0px 20px 0px;
    }

        #reservation .phone i,
        #reservation .message i {
            width: 70px;
            height: 70px;
            display: inline-block;
            text-align: center;
            line-height: 70px;
            color: #fff;
            background-color: #fb5849;
            border-radius: 50%;
            font-size: 24px;
            margin-top: -35px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        #reservation .phone h4,
        #reservation .message h4 {
            font-size: 20px;
            font-weight: 700;
            margin-top: 15px;
            margin-bottom: 10px;
        }

        #reservation .phone span a,
        #reservation .message span a {
            font-size: 14px;
            color: #2a2a2a;
            transition: all .3s;
        }

            #reservation .phone span a:hover,
            #reservation .message span a:hover {
                color: #fb5849;
            }

</style>
 <!-- ***** Main Banner Area Start ***** -->
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-content">
                        <div class="inner-content">
                            
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <h4>TasteFinder</h4>
                                <h6>THE BEST EXPERIENCE</h6>
                                <div class="main-white-button scroll-to-section">
                                    <a asp-area="" asp-controller="Account" asp-action="RegisterType">Sign up</a>
                                </div>
                            }
                            else
                            {
                                <h4 style="color:white">Welcome,</h4><br />
                                <h4>TasteFinder</h4>
                                <h6>THE BEST EXPERIENCE</h6>
                            }
                    </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-banner header-text">
                        <div class="Modern-Slider">
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="~/images/slide-01.jpg" alt="">
                            </div>
                          </div>
                          <!-- // Item -->
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="~/images/slide-02.jpg" alt="">
                            </div>
                          </div>
                          <!-- // Item -->
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="~/images/slide-03.jpg" alt="">
                            </div>
                          </div>
                          <!-- // Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>About Us</h6>
                            <h2>We Leave A Delicious Memory For You</h2>
                        </div>
                        <p>At TasteFinder, we're all about connecting you with the best restaurants wherever you are. We leverage user ratings and location to guide you to delicious experiences.</p>
                        <div class="row">
                            <div class="col-4">
                                <img src="~/images/about-thumb-01.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="~/images/about-thumb-02.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="~/images/about-thumb-03.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-content">
                        <div class="thumb">
                            <a rel="nofollow" href="http://youtube.com"><i class="fa fa-play"></i></a>
                            <img src="~/images/about-video-bg.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->
    <!-- ***** Chefs Area Starts ***** -->
    <section class="section" id="chefs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>Our Restaurants</h6>
                        <h2>We offer the best chefs for you</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <img src="~/images/chefs-01.jpg" alt="Chef #1">
                        </div>
                        <div class="down-content">
                            <h4>Randy Walker</h4>
                            <span>Pastry Chef</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                            <img src="~/images/chefs-02.jpg" alt="Chef #2">
                        </div>
                        <div class="down-content">
                            <h4>David Martin</h4>
                            <span>Cookie Chef</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                            </ul>
                            <img src="~/images/chefs-03.jpg" alt="Chef #3">
                        </div>
                        <div class="down-content">
                            <h4>Peter Perkson</h4>
                            <span>Pancake Chef</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Chefs Area Ends ***** -->
    <!-- ***** Reservation Us Area Starts ***** -->
    <section class="section" id="reservation">
        <div class="container">
            
                <div class="col-lg-6 align-self-center">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Contact Us</h6>
                        </div>
			            <div class="row">
                            <div class="col-lg-6">
                                <div class="phone">
                                    <i class="fa fa-phone"></i>
                                    <h4>Phone Numbers</h4>
                                    <span><a href="#">080-090-0990</a></span>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="message">
                                    <i class="fa fa-envelope"></i>
                                    <h4>Emails</h4>
                                    <span><a href="#">taste.finder@company.com</a></span>
                                </div>
                            </div>
                    	</div>
                </div>
                
                
            </div>
        </div>
    </section>
    <!-- ***** Reservation Area Ends ***** -->